/* -------------- Google Fonts --------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* -------------- Variables --------------- */
:root{
	--hue-color: 155;
	--header: 3rem;
	--primary-color: hsl(var(--hue-color), 69%, 61%);
	--second-color: hsl(var(--hue-color), 69%, 61%);
	--color-alt: hsl(var(--hue-color), 57%, 53%);
	--color-lighter: hsl(var(--hue-color), 92%, 85%);
	--title-color: hsl(var(--hue-color), 8%, 15%);
	--text-color: hsl(var(--hue-color), 8%, 45%);
	--color-light: hsl(var(--hue-color), 8%, 65%);
	--input-color: hsl(var(--hue-color), 70%, 96%);
	--body-color: hsl(var(--hue-color), 60%, 99%);
	--container: #fff;
	
	--font-family: "Poppins", Sans-Serif;
	
	--big-font: 2rem;
	--size-h1: 1.5rem;
	--size-h2: 1.25rem;
	--size-h3: 1.125rem;
	--size-normal: .938rem;
    --size-small: .813rem;
   
    --font-medium: 500;
    --font-semi-bold: 600;
	
	--mb-0-25: .25rem;
	--mb-0-5: .5rem;
	--mb-0-75: .75rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	--mb-2-5: 2.5rem;
	--mb-3: 3rem;
	
	---z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 1000
}

/* -------------- Globals --------------- */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
	margin: 0 0 var(--header) 0;
	font-family: var(--font-family);
	font-size: var(--size-normal);
	background: var(--body-color);
	color: var(--text-color);
	transition: .3s all ease-in-out;
}
/* --------------- Variables Theme Dark --------------- */
body.active{
	--second-color: hsl(var(--hue-color), 30%, 8%);
	--title-color: hsl(var(--hue-color), 8%, 95%);
	--text-color: hsl(var(--hue-color), 8%, 75%);
	--input-color: hsl(var(--hue-color), 29%, 16%);
	--body-color: hsl(var(--hue-color), 28%, 12%);
	--container: hsl(var(--hue-color), 29%, 16%);
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: var(--text-color);
	transition: .3s;
}
h1, h2, h3, h4{
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
}


.d-none{
	display: none;
}
.name-error,
.email-error,
.phone-error,
.subject-error,
.message-error{
	color: #c7123c;
}
img{
	max-width: 100% ;
	height: auto;
}
html{
	scroll-behavior: smooth;
}
.send-btn{
	cursor: pointer;
}
.section{
	padding: 2rem 0 4rem;
}
.section-title{
	font-size: var(--size-h1);
}
.section-subtitle{
	display: block;
	font-size: var(--size-normal);
	margin-bottom: var(--mb-3);
}
.section-title,
.section-subtitle{
	text-align: center;
}
.container{
	max-width: 768px;
	margin-left: var(--mb-1-5);
	margin-right: var(--mb-1-5);
}
.grid{
	display: grid;
	gap: 1.5rem;
}
.flex{
	display: flex;
}

.toggle-theme{
	cursor: pointer;
}
.icon-toggle{
	font-size: var(--size-h3);
	color: var(--title-color);
	margin-right: 1.5rem;
	transition: .3s;
}
.icon-toggle:hover{
	color: var(--primary-color);
}

/* --------------- Header ---------------*/
.header{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: var(--z-fixed);
	background: var(--body-color);
}
.header-active{
	box-shadow: 0 -2px 2px rgba(0, 0, 0, .18);
}
/* --------------- Navbar ---------------*/
.navbar{
	max-width: 968px;
	height: var(--header);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-logo,
.nav-toggle{
	color: var(--title-color);
	font-weight: var(--font-medium);
	transition: .3s;
}

.nav-toggle{
	font-size: 1.1rem;
	cursor: pointer;
}
.nav-toggle:hover{
	color: var(--primary-color);
}

@media screen and (max-width: 767px){
	.navbar-content{
		position: fixed;
		bottom: -100%;
		left: 0;
		width: 100%;
		background: var(--body-color);
		padding: 2rem 1.5rem 4rem;
		box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
		border-radius: 1.5rem 1.5rem 0 0;
		transition: .3s all ease-in-out;
	}
	.navbar-content.active{
		bottom: 0;
	}
}

.nav-list{
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}
.links{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: var(--size-normal);
}
.links:hover a{
	color: var(--primary-color);
}

.links.active a{
	color: var(--primary-color);
}

.nav-icon{
	display: block;
	text-align: center;
	font-size: 1.2rem;
}
.nav-close{
	position: absolute;
	right: 1.3rem;
	bottom: .5rem;
	font-size: 1.5rem;
	cursor: pointer;
	color: var(--primary-color);
}


/* --------------- Home ---------------*/

.home-container{
	gap: 1rem;
}

.home-content{
	grid-template-columns: .5fr 3fr;
	padding-top: 3.5rem;
	align-items: center;
}
.home-social{
	display: grid;
	grid-template-columns: max-content;
	row-gap: 1rem;
}
.social-icon{
	font-size: 1.25rem;
	color: var(--primary-color);
}
.home-blob{
	width: 200px;
	fill: var(--primary-color);
}
.blob-image{
	width: 170px;
	border-radius: 50%;
}
.home-data{
	grid-column: 1/3;
}

.home-title{
	font-size: var(--big-font);
}
.home-subtitle{
	font-size: var(--size-h3);
	color: var(--text-color);
	font-weight: var(--font-medium);
	margin-bottom: var(--mb-0-75);
}
.home-description{
	margin-bottom: var(--mb-2);
}
.home-scroll{
	/*display: none;*/
}
.btn-scroll{
	color: var(--primary-color);
	transition: .3s transform ease-out;
}
.btn-scroll:hover{
	transform: translateY(10px);
}
.mouse{
	font-size: 2rem;
}
.scroll-info{
	font-size: var(--size-normal);
	color: var(--title-color);
	font-weight: var(--font-medium);
	margin-right: var(--mb-0-25);
}
.arrow{
	font-size: 1.25rem;
}
.btn{
	display: inline-block;
	background: var(--primary-color);
	color: #fff;
	padding: 1rem;
	border-radius: .5rem;
	font-weight: var(--font-medium);
	transition: .3s;
}
.btn:hover{
	background: var(--color-alt);
}
.btn-icon{
	font-size: 1.25rem;
	margin-left: var(--mb-0-5);
}
.btn-flex{
	display: inline-flex;
	align-items: center;
}

/* --------------- About --------------- */
.about-image{
	width: 12.5rem;
	align-self: center;
	align-self: center;
	justify-self: center;
	border-radius: .5rem;
}
.about-description{
	text-align: center;
	margin-bottom: var(--mb-2-5);
}
.about-info{
	display: flex;
	justify-content: space-evenly;
	margin-bottom: var(--mb-2-5);
}
.about-info-title{
	font-size: var(--size-h2);
	font-weight: var(--font-semi-bold);
}
.about-info-name{
	font-size: var(--size-normal);
}
.about-info-title,
.about-info-name{
	display: block;
	text-align: center;
}
.about-options{
	display: flex;
	justify-content: center;
}


/* --------------- Skills --------------- */
.skills-container{
	row-gap: 0;
}
.skill-content{
	transition: .3s all;
}
.skill-header{
	display: flex;
	align-items: center;
	margin-bottom: var(--mb-2-5);
	cursor: pointer;
}
.skill_icon,
.skill-arrow{
	font-size: 2rem;
	color: var(--primary-color);
}
.skill_icon{
	margin-right: var(--mb-0-75);
}
.skill-title{
	font-size: var(--size-h3);
}
.skill-subtitle{
	font-size: var(--size-normal);
	color: var(--color-lighter);
}
.skill-arrow{
	margin-left: auto;
	transition: .5s;
}
.skill-arrow.skill-active{
	transform: rotate(180deg);
}
.list-skills{
	row-gap: 1.5rem;
	margin-left: 2.7rem;
}
.skill-titles{
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--mb-0-5);
}
.skill-name{
	font-weight: var(--font-medium);
}
.skills-bar,
.percent{
	height: 5px;
	border-radius: .25rem;
}
.skills-bar{
	background: var(--color-lighter);
}
.percent{
	display: block;
	background: var(--primary-color);
}
.skill-html{
	width: 90%;
}
.skill-css{
	width: 80%;
}
.skill-js{
	width: 75%;
}
.skill-react{
	width: 70%;
}
.skill-vue{
	width: 65%;
}

.skill-python{
	width: 60%;
}
.skill-php{
	width: 60%;
}
.skill-mysql{
	width: 65%;
}
.skill-heroku{
	width: 89%;
}
.skill-nodejs{
	width: 60%;
}
.skill-illustrator{
	width: 60%;
}
.skill-photoshop{
	width: 75%;
}
.skill-figma{
	width: 90%;
}
.skill-coreldraw{
	width: 60%;
}
.close .list-skills{
	height: 0;
	overflow: hidden;
}
.skill-active .list-skills{
	height: max-content;
	margin-bottom: var(--mb-2-5);
}

/* ---------------Qualifications ---------------*/
.qualification-tabs{
	display: flex;
	justify-content: space-evenly;
	margin-bottom: var(--mb-2);
}
.qualification-btns{
	font-size: var(--size-h3);
	font-weight: var(--font-medium);
	transition: .3s;
	cursor: pointer;
}
.qualification-btns:hover{
	color: var(--primary-color);
}
.qualified-icon{
	font-size: 1.8rem;
	margin-right: var(--mb-0-25);
}
.qualification-data{
	display: grid;
	grid-template-columns: 1fr max-content 1fr;
	column-gap: 1.5rem;
}
.qualification-title{
	font-size: var(--size-normal);
	font-weight: var(--font-medium);
}
.qualification-subtitle{
	display: inline-block;
	font-size: var(--size-normal);
	margin-bottom: var(--mb-1);
}
.qualification-calendar{
	font-size: var(--size-small);
	color: var(--color-lighter);
}
.qualification-round{
	display: inline-block;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: var(--primary-color);
}
.qualification-line{
	display: block;
	height: 100%;
	width: 1px;
	background: var(--primary-color);
	transform: translate(6px, -7px);
}
.qualification-content[data-content]{
	display: none;
}
.qualification-active[data-content]{
	display: block;
}
.btn-active{
	color: var(--primary-color);
}

/* --------------- Services --------------- */
.services-container{
	gap: 1.5rem;
	grid-template-columns: repeat(2, 1fr);
}
.services-content{
	position: relative;
	background: var(--body-color);
	padding: 3.5rem .5rem 1.25rem 1.5rem;
	border-radius: .25rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	transition: .3s;
}
.services-content:hover{
	box-shadow: 4px 8px rgba(0, 0, 0, 0.15);
}
.service-icon{
	font-size: 1.5rem;
	color: var(--primary-color);
	margin-bottom: var(--mb-1);
}
.service-title{
	font-size: var(--size-h3);
	margin-bottom: var(--mb-1);
	font-weight: var(--font-medium);
}
.services-btn{
	cursor: pointer;
	font-size: var(--size-small);
}
.btn-icon{
	transition: .3s;
}
.services-btn:hover .btn-icon{
	transform: translateX(.25rem);
}
.service-modal{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	z-index: var(--z-modal);
	opacity: 0;
	visibility: hidden;
}
.modal-active{
	opacity: 1;
	visibility: visible;
}
.modal-content{
	position: relative;
	border-radius: .5rem;
	background: var(--body-color);
	padding: 1.5rem;
}
.service-modal-services{
	row-gap: 1rem
}
.service-modal-service{
	display: flex;
	align-items: center;
}
.service-modal-title{
	font-size: var(--size-h2);
	font-weight: var(--font-medium);
	margin-bottom: var(--mb-1-5);
}
.modal-close{
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 1.75rem;
	cursor: pointer;
	color: var(--primary-color);
}
.service-modal-icon{
	color: var(--primary-color);
	margin-right: var(--mb-0-25);
}

/* --------------- Portfolio --------------- */
.portfolio-container{
	overflow: initial;
}
.portfolio-content{
	padding: 0 1.5rem;
}
.portfolio-image{
	width: 16.5625rem;
	height: 12.5rem;
	border-radius: .5rem;
	justify-self: center;
}
.portfolio-title{
	font-size: var(--size-h3);
	margin-bottom: var(--mb-0-5);
}
.portfolio-description{
	margin-bottom: var(--mb-0-75);
}
.btn-portfolio:hover .btn-icon{
	transform: translateX(.25rem);
}
.btn-small{
	padding: .75rem 1rem;
}
.btn-link{
	padding: 0;
	background: transparent;
	color: var(--primary-color);
}
.btn-link:hover{
	background: transparent;
	color: var(--color-alt);
}
/* --------------- Project In Mind --------------- */
.project{
	text-align: center;
}
.project-bg{
	background: var(--primary-color);
	padding-top: 3rem;
}
.project-title{
	font-size: var(--size-h2);
	margin-bottom: var(--mb-0-75);
}
.project-description{
	margin-bottom: var(--mb-1-5);
}
.project-title,
.project-description{
	color: #fff;
}
.project-image{
	width: 232px;
	justify-self: center;
}
.btn-white{
	background: #fff;
	color: var(--primary-color);
}
.btn-white:hover{
	background: #fff;
}

/* --------------- Testimonials --------------- */
.testimonial-data,
.testimonial-header{
	display: flex;
}
.testimonial-data{
	justify-content: space-evenly;
	margin-bottom: var(--mb-1);
}
.testimonial-image{
	width: 60px !important;
	height: 60px !important;
	border-radius: 50%;
	margin-right: var(--mb-0-75);
}
.testimonial-name{
	font-size: var(--size-small);
	font-weight: var(--font-medium);
}
.testimonial-enterprise{
	font-size: var(--size-small);
	color: var(--color-lighter);
}
.testimonial-description{
	margin-bottom: var(--mb-2-5);
}
.testimonial-star{
	color: var(--primary-color);
}

/* --------------- Contact --------------- */
.contact-container{
	row-gap: 2rem;
}
.contact-info{
	display: flex;
	margin-bottom: var(--mb-2);
	/*align-items: center;*/
}
.contact-icon{
	font-size: 2rem;
	color: var(--primary-color);
	margin-right: var(--mb-0-75);
}
.contact-title{
	font-size: var(--size-h3);
	font-weight: var(--font-medium);
}
.contact-subtitle{
	font-size: var(--size-small);
	color: var(--color-lighter);
}
.contact-label{
	font-size: var(--size-small);
	color: var(--title-color);
}
.contact-content{
	background: var(--input-color);
	border-radius: .5rem;
	padding: .75rem 1rem .25rem;
}
.contact-input{
	width: 100%;
	background: var(--input-color);
	color: var(--text-color);
	font-family: var(--font-family);
	font-size: var(--size-normal);
	padding: .25rem .5rem .5rem 0;
	border: none;
	outline: none;
}

/* --------------- Footer --------------- */
.footer{
	padding-top: 2.5rem;
}
.footer-container{
	row-gap: 3.5rem;
}
.footer-bg{
	background: var(--primary-color);
	padding: 2rem 0 3rem;
}
.footer-title{
	font-size: var(--size-h1);
	margin-bottom: var(--mb-0-25);
}
.footer-subtitle{
	font-size: var(--size-small);
}
.footer-list{
	flex-direction: column;
	row-gap: 1.5rem;
}
.footer-link:hover{
	color: var(--color-lighter);
}
.social-link{
	font-size: 1.5rem;
	margin-right: var(--mb-0-5);
}
.social-link:hover{
	color: var(--color-lighter);
}
.copyright{
	font-size: var(--size-small);
	color: var(--color-lighter);
	text-align: center;
	margin-top: var(--mb-3);
}
.footer-title,
.footer-subtitle,
.footer-link,
.social-link{
	color: #fff;
}
.owl-dots{
	text-align: center;
	margin-top: 1.5rem;
}
.owl-dot{
	width: 0.625rem;
	height: 0.25rem;
	border-radius: .3rem;
	background: var(--color-lighter) !important;
	border-radius: .25rem;
	outline: none;
	margin: 0 0.1875re;
}
.owl-dot:hover,
.owl-dot.active{
	background: var(--primary-color) !important;
}
.owl-next,
.owl-prev{
	display: none;
}
.arrow-top{
	position: fixed;
	right: 1.25rem;
	bottom: 4.5rem;
	width: 30px;
	height: 30px;
	cursor: pointer;
	border-radius: 50%;
	background: var(--color-lighter);
	display: block;
	text-align: center;
	transition: .3s all ease-in-out;
	z-index: var(--z-fixed);
	visibility: hidden;
	opacity: 0;
}
.arrow-top.active{
	visibility: visible;
	opacity: 1;
}
.arrow-top:hover .go-up{
	transform: translateY(-0.3rem);
}
.go-up{
	color: var(--primary-color);
	line-height: 30px;
	font-size: 1rem;
	display: inline-block;
	transition: .3s;
}

/* --------------- Scroll Bar --------------- */
/*::-webkit-scrollbar{
	width: .60rem;
	background: var(--primary-color);
	border-radius: .5rem;
}
::-webkit-scrollbar-thumb{
	width: .75rem;
	height: .75rem;
	border-radius: 50%;
}*/


/* --------------- Media Queryes --------------- */

/* --------------- Small Devices --------------- */
@media screen and (max-width: 21.875rem){
	.container{
		margin-right: var(--mb-1);
		margin-left: var(--mb-1);
	}
	.navbar-content{
		padding: 2rem .25rem 4rem;
	}
	.nav-list{
		column-gap: 0;
	}
	.home-content{
		grid-template-columns: .25rem 3fr;
	}
	.home-blob{
		width: 180px;
	}
	.skill-title{
		font-size: var(--size-normal);
	}
	.qualification-data{
		gap: .25rem;
	}
	.services-container{
		grid-template-columns: max-content;
		justify-content: center;
	}
	.services-content{
		padding-right: 3.5rem;
	}
	.service-modal{
		padding: 0 .5rem;
	}
	.project-image{
		width: 200px;
	}
	.testimonial-data,
	.testimonial-header{
		flex-direction: column;
		align-items: center;
	}
	.testimonial-image{
		margin-right: 0;
		margin-bottom: var(--mb-0-25);
	}
	.testimonial-data,
	.testimonial-description{
		text-align: center;
	}
}

/* --------------- Médium Devices --------------- */
@media screen and (min-width: 35.5rem){
	.home-content{
		grid-template-columns: max-content 1fr 1fr;
	}
	.home-data{
		grid-column: initial;
	}
	.home-image{
		order: 1;
		align-self: center;
	}
	.about-container,
	.portfolio-content,
	.skills-container,
	.project-container,
	.contact-container,
	.footer-container{
		grid-template-columns: repeat(2, 1fr);
	}
	.project-container{
		align-items: center;
	}
	.qualification-section{
		display: grid;
		grid-template-columns: .6fr;
		justify-content: center;
	}
}
@media screen and (min-width: 47.9375rem){
	.container{
		margin-right: auto;
		margin-left: auto;
	}
	body{
		margin: 0;
	}
	.section{
		padding: 6rem 0 2rem;
	}
	.section-subtitle{
		margin-bottom: 4rem;
	}
	.header{
		top: 0;
		bottom: initial;
	}
	.header,
	.main,
	.footer-container{
		padding: 0 1rem;
	}
	.navbar{
		height: calc(var(--header) + 1.5rem);
		column-gap: 1rem;
	}
	.nav-icon,
	.nav-close,
	.nav-toggle{
		display: none;
	}
	.nav-list{
		grid-template-columns: repeat(6, 1fr);
		column-gap: .5rem;
	}
	.header-active{
		box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
	}
	body.active .header-active{
		box-shadow: 0 2px 2px rgba(255, 255, 255, .1);
	}
	.navbar{
		margin-left: auto;
	}
	.toggle-theme{
		margin: 0;
		transition: .3s;
	}
	.home-container{
		row-gap: 5rem;
	}
	.home-content{
		padding-top: 5.5rem;
		column-gap: 2rem;
	}
	.home-blob{
		width: 16.875rem;
	}
	.home-scroll{
		justify-self: center;
	}
	.about-container{
		column-gap: 5rem;
	}
	.about-image{
		width: 21.875rem;
	}
	.about-description{
		text-align: initial;
	}
	.about-info{
		justify-content: space-between;
	}
	.about-options{
		align-self: center;
		justify-content: initial;
	}
	.qualification-tabs{
		justify-content: center;
	}
	.qualification-btns{
		margin: 0 var(--mb-0-75);
	}
	.qualification-section{
		grid-template-columns: .5fr;
	}
	.services-container{
		grid-template-columns: repeat(3, 13.628rem);
		justify-content: center;
	}
	.service-icon{
		font-size: 2rem;
	}
	.services-content{
		padding: 6rem 0 2rem 2.5rem;
	}
	.modal-content{
		width: 28.125rem;
	}
	.portfolio-image{
		width: 20rem;
		height: 100%;
	}
	.portfolio-content{
		align-items: start;
	}
	.project{
		text-align: initial;
	}
	.project-bg{
		background: none;
	}
	.project-container{
		background: var(--primary-color);
		border-radius: 1rem;
		padding: 3rem 2.5rem 0 ;
		grid-template-columns: 1fr max-content;
		column-gap: 3rem;
	}
	/*.project-data{
		padding-top: .8rem;
	}*/
	.footer-container{
		grid-template-columns: repeat(3, 1fr);
	}
	.footer-bg{
		padding: 3rem 0 3.5rem;
	}
	.footer-list{
		display: flex;
		flex-direction: row;
		column-gap: 1.5rem;
	}
	.footer-social{
		justify-self: flex-end;
	}
	.copyright{
		margin-top: 4.5rem;
	}
}

/* --------------- Large Devices --------------- */
@media screen and(min-width: 64rem){
	.main,
	.header,
	.footer-container{
		padding: 0;
	}
	.home-blob{
		width: 20rem;
	}
	.home-social{
		transform: translateX(-6rem);
	}
	.services-container{
		grid-template-columns: repeat(3, 14.875rem);
	}
	.portfolio-content{
		column-gap: 5rem;
	}
	.portfolio-container,
	.testimonial-container{
		grid-template-columns: repeat(4, 1fr);
	}
	.contact-form{
		width: 28.75rem;
	}
	.contact-inputs{
		grid-template-columns: repeat(2, 2fr);
	}
}



/* ----------------------------------- Animation ------------------------------ */
/* .animate-container{
    position: relative;
    min-height: 100vh !important;

}
.animate{
    position: absolute;
    border-radius: 3px;
    background: burlywood;
    animation: square 5s linear infinite;
	z-index: 10000;
}

@keyframes square{
    0%{
        transform: scale(0) translateY(0) rotate(0);
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        transform: scale(1) translateY(-1000px) rotate(360deg);
        opacity: 0;
    }
} */